@media (max-width: 308px) {
  .containerGeral {
    flex-direction: column;
    height: auto;
  }

  .containerBusca {
    width: 90%;
    height: auto;
  }

  .buscarCidade input {
    width: 100%;
  }

  .containerResultado {
    width: 100%;
  }

  .resultado {
    width: 100%;
  }
}

:root {
  --cor-fundo: #D6EAF8;
  --cor-branco: #FFFFFF;
  --cor-primaria: #1B4F72;
  --cor-secundaria: #ABB2B9;
  --cor-texto: #333;
  --cor-texto-secundario: #777;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  width: 100%;
  height: 94px;
  background-color: #FFFFFF;
  flex-wrap: wrap;
  display: flex;
}

.logo-clima {
  display: flex;
  padding: 13px;
  padding-left: 20px;
}

.title-header {
  display: flex;
  padding-left: 20px;
  align-items: center;
  color: #1B4F72
}

body {
  background-color: #D6EAF8;
}

.containerGeral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  gap: 20px; 
}


.containerBusca {
  width: 100px;
  height: 100px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.buscarCidade {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #D6EAF8;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.buscarCidade input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  width: 250px;
}

.buscarBotao {
  border: 2px solid #D6EAF8;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscarIcone {
  font-size: 24px;
  color: #555;
}

.containerResultado {
  width: 300px;
  height: 250px;
  padding: 20px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.resultado {
  width: 200px;
  height: 400px;
  text-align: center;
}

.climaArea h1 {
  font-size: 24px;
  color: #333;
}

.climaArea span {
  font-size: 14px;
  color: #777;
}

.icon {
  font-size: 40px;
  margin: 10px 0;
}

.botaoInfoArea {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.celsiusIcone {
  height: 25px;
  color: #000000;
}

.fahrenheitIcone {
  height: 25px;
  color: #ABB2B9;
}

.temperatureC {
  display: flex;
  font-size: 24px;
  color: #000000;
}

.temperatureF {
  display: flex;
  font-size: 24px;
  color: #ABB2B9;
}


.summary {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}